@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Crimson Text, sans-serif;
    font-weight: 300;
    color: #D2691E;
}

/* headings and logo */

h1, h2 {
    font-family: Righteous, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #D2691E;
}

#logo {
    float: left;
    font-size: 300%;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 50px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;

}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #8B4513;
}

.active {
    border-bottom: 1px solid #8B4513;
}

/* hero-image and cover text */

#hero-image {
    background: url('../images/hero-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    object-fit: scale-down;
    
    
    
}

.hero-text {
    color: antiquewhite;
    position: relative;
    text-align: left;
}


.k-9-karate {
    border: #8B4513;
    padding: 70px;
    border: 15px;
    margin: 20px;
    position: center;
    text-align: center;
    font-size: 50px;
}